body{
    margin: 0;
    padding: 0;  
  }
  
  h1{
    margin-left:39px;
    color:#6598f5;  
  }
  
  .container{
    border-collapse: collapse;
    margin: 25px 30px;
    font-size: 16px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  .container thead tr{
    background-color:#6598f5;
    color:#fff;
    text-align:left;
    font-weight:bold;
  }
  
  .container th, td{
    padding:12px 15px;
  }
  
  .container tbody tr{
    border-bottom:1px solid #ddd;
  }
  
  .container tbody tr:nth-of-type(even) {
    background-color:#f3f3f3;
  }
  
  .container tbody tr:last-of-type{
    border-bottom:2px solid #6598f5;
  }